@import "tailwindcss";

/* RESET / GLOBALS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm bg-white dark:bg-black;
}

